
<div class="row">
    
    <div class="col-md-4 p-2" *ngFor="let emp of emp_list">
        <div class="card" >
            <img class="card-img-top" src="{{emp.img}}" alt="Card image" style="max-height:230px;width: auto;">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <button (click)="displayDetails(emp.emp_id)" class="btn btn-primary">See Profile</button>
            </div>
          </div>
    </div>

    
</div>
